
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
        <link rel="stylesheet" href="./style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <style> @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); </style>
    </head>
    <body>
        <div id="canvas-wrap"></div>
            <canvas id="myCanvas" width="1080*2" height="1350*2"></canvas>
            <div id="rectangle">
                <img id = "thumbnail" src = "0c39069_5126540-01-0616x9.jpg" />
                <p id="text">
                    <span>
                        Mondial de handball 2023 : dix-huit Bleus à la conquête du titre. 
                    </span>
                    L'entraîneur français Guillaume Gille a sélectionné 18 joueurs pour le championnat du monde de handball. Le tournoi aura lieu en Pologne et en Suède du 11 au 29 janvier. L'équipe française jouera son premier match contre la Pologne le mercredi 11 janvier. Auka Karabatic sera le nouveau capitaine de l'équipe française. Les Blues ont battu les Pays-Bas et l'Égypte dans les matchs de préparation pour la compétition. La Coupe du monde commence le 11 janvier à Katowice, en Pologne, et se déroule jusqu'au 29 janvier.</p>
            </div>
        </div>
    <script src="./script.js" charset="utf-8"></script>
    </body>
</html>